body {
    color: white;
    background: black;
}

button{
    border: 2px solid red;
    height: 35px;
    padding: 0 5px;
    background-color:white;
    text-align: center;
}
button:hover {
    background-color: beige;
}

table { 
    text-align:center; 
    margin-left:auto; 
    margin-right:auto; 
    
     
}

th {
   text-decoration:;
   font-size: 25px; 
       
}

td {
    height: 50px;
    width: 200px
    text-align: center;
    text-decoration-color: white;
    border: 1px solid #CCC
    
}

a:link, a:visited {
    outline: 10px;
    background-color: black;
    color: white;
    border: 2px solid red;
    padding: 14px 25px;
    text-align: center; 
    text-decoration: none;
    display: inline-block;
}
a:hover{
    background-color :beige;
    color : #191970;
}

input[type=text] {
    background-color:white;
    height: 25px;
    border: 2px solid red;
    
}
input:hover{

    background-color: beige;
}

input[type=range] {
  -webkit-appearance: none;
  width: auto
  margin: auto;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 12.6px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #000000;
  border-radius: 6.2px;
  border: 0.7px solid #562425;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 7px 7px 10px #000000, 0px 0px 7px #0d0d0d;
  border: 4.6px solid #000000;
  height: 39px;
  width: 19px;
  border-radius: 2px;
  background: #a71817;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -13.9px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #0d0d0d;
}
input[type=range]::-moz-range-track {
  width: auto
  height: 12.6px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #000000;
  border-radius: 6.2px;
  border: 0.7px solid #562425;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 7px 7px 10px #000000, 0px 0px 7px #0d0d0d;
  border: 4.6px solid #000000;
  height: 39px;
  width: 19px;
  border-radius: 2px;
  background: #a71817;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 12.6px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #000000;
  border: 0.7px solid #562425;
  border-radius: 12.4px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-fill-upper {
  background: #000000;
  border: 0.7px solid #562425;
  border-radius: 12.4px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-thumb {
  box-shadow: 7px 7px 10px #000000, 0px 0px 7px #0d0d0d;
  border: 4.6px solid #000000;
  height: 39px;
  width: 19px;
  border-radius: 2px;
  background: #a71817;
  cursor: pointer;
  height: 12.6px;
}
input[type=range]:focus::-ms-fill-lower {
  background: #000000;
}
input[type=range]:focus::-ms-fill-upper {
  background: #0d0d0d;
}